<!--This is the edit form.  This allows a user to edit an existing contact. -->

<%= form_tag "/client/contacts/#{@contact['id']}", method: :patch do %>
  <div>
    FIRST NAME: <input type="text" name="input_first_name" value="<%= @contact['first_name']%>">
  </div>
    <div>
    LAST NAME: <input type="text" name="input_last_name" value="<%= @contact['last_name']%>">
  </div>
    <div>
    EMAIL: <input type="text" name="input_email" value="<%= @contact['email']%>">
  </div>
    <div>
    PHONE NUMBER: <input type="text" name="input_phone_number" value="<%= @contact['phone_number']%>">
  </div>

  <input type= "submit" value="UPDATE EXISTING CONTACT">


<% end %>

