<p> ID: <%= @contact['id'] %> </p>
<p> FIRST NAME: <%= @contact['first_name'] %> </p>
<p> LAST NAME: <%= @contact['last_name'] %> </p>
<p> EMAIL: <%= @contact['email'] %> </p>
<p> PHONE NUMBER: <%= @contact['phone_number'] %> </p>